body{
  display: flex;
  height:100vh;
  /*justify-content: center;*/
  align-items:center;
  flex-direction: column;
  background-color:#141414
}

#gridContainer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    border: 1px solid red;
    /*margin-top: 50px;*/
}
#leftBar{
  box-sizing: content-box;
  display:flex;
  flex-direction: column;
  /*flex-wrap:wrap;*/
  margin-right: 10px;
  border:1px solid white;
  width:200px;
  /*height:100%;*/
  height:420px;
}
#spritePortrait{
  box-sizing: border-box;
  border: 1px solid red;
  width: 200px;
  height: 300px;
}
#dialogBox{
  box-sizing: border-box;
  border: 1px solid red;
  width: 200px;
  height: 120px;
  background-color: #d1d1d1;
}

.mainBody{
  display:flex;
  justify-content: center;
  align-items:center;
}
.topBody{
  display:flex;
  box-sizing: content-box;
  justify-content: flex-start;
  flex-direction:column;
  flex-wrap:wrap;
  border:1px solid red;
  width: 700px;
  height: 225px;
  margin-bottom: 10px;
}
.scoreDiv{
  box-sizing: border-box;
  border: 1px solid white;
  width: 48px;
  height: 75px;
}
.shipDiv{
  box-sizing: border-box;
  border: 1px solid white;
  width: 100px;
  height: 75px;
}
.shotDiv{
  box-sizing: border-box;
  border: 1px solid white;
  width: 350px;;
  height: 75px;
}
#bossBig{
  box-sizing: border-box;
  border: 1px solid white;
}
.bossDiv{
  box-sizing: border-box;
  border: 1px solid red;
  width: 200px;;
  height: 74.33px;
}
.btnDiv{
  display:flex;
  flex-direction: column;
}
.box{
  margin: 1px;
  box-sizing: content-box;
  display:flex;
  justify-content: center;
  align-items: center;
  /*background-color:#c2c0bd;*/
  border-bottom: 5px solid #8b8b8b;
  border-right: 5px solid #555555;

  /*box-shadow:
    inset 0 0 0 4px #eee,
    inset 0 0 0 8px #ddd,
    inset 0 0 0 12px #ccc,
    inset 0 0 0 16px #bbb,
    inset 0 0 0 20px #aaa,
    inset 0 0 0 20px #999,
    inset 0 0 0 20px #888;*/
}
.dot{
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 50%;
  border:1px solid black;
  box-sizing: content-box;
}
