body{
  display: flex;
  justify-content: center;
  align-items:center;
}

#gridContainer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    border: 1px solid black;
    margin-top: 50px;
}
.btnDiv{
  display:flex;
  flex-direction: column;
}
.box{
  border: 1px solid black;
  box-sizing: border-box;

  display:flex;
  justify-content: center;
  align-items: center;
}
.dot{
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 50%;
  border:1px solid black;
  box-sizing: content-box;
  height:50px;
  width:50px;
}
