body{
  display: flex;
  height:100vh;
  min-height: 700px;
  width: 95%;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background-color:#141414
}

#gridContainer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    border: 1px solid red;
}
#leftBar{
  box-sizing: content-box;
  display:flex;
  flex-direction: column;
  /*flex-wrap:wrap;*/
  margin-right: 10px;
  border:1px solid white;
  width:201px;
  /*height:100%;*/
  height:420px;
}
#spritePortrait{
  box-sizing: border-box;
  border: 1px solid red;
  width: 201px;
  height: 301px;
}
.pilotBox{
  box-sizing: border-box;
  border: 1px solid white;
  width: 200px;
  height: 300px;
}

#dialogBox{
  box-sizing: border-box;
  border: 1px solid red;
  width: 200px;
  height: 120px;
  background-color: #d1d1d1;
  display: flex;
  flex-direction: column;

}
#pilotName{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 25px;
  width: 100%;
}
#pilotSpeech{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
}

.mainBody{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}
.topBody{
  display:flex;
  /*box-sizing: content-box;*/
  align-items: center;
  justify-content: center;
  flex-direction:column;
  flex-wrap:wrap;
  border:1px solid red;
  /*width: 100%;*/
  min-width: 700px;
  height: 231px;
  min-height:231px;
  /*margin-bottom: 10px;*/
}
.scoreDiv{
  box-sizing: content-box;
  display:flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid white;
  width: 48px;
  height: 75px;
}
.shipLane{
  display:flex;
  flex-wrap: wrap;
  /*border:1px solid blue;*/
  height:75px
}
.shipDiv{
  display:flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid white;
  width: 102px;
  height: 75px;
}
.shotDiv{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid white;
  width: 150px;;
  height: 75px;
}

#bossHp{
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
  border:1px solid red;
  height: 210px;
  width: 35px;
}
#shipHpDiv{
  display:flex;
  flex-direction:column;
  height: 225px;
  width: 20%;
}
.hpPoint{
  border-radius: 33%;
  background-color: green;
  margin: .5px
}
.shipHp{
  display:flex;
  width:140px;
  height:50px;
  margin-top:12.5px;
  margin-bottom:12.5px;
  border:1px solid red;
  /*border-radius: 25%;*/
}
#bossBig{
  box-sizing: border-box;
  border: 1px solid white;
  width: 200px;
  height: 225px;
}
.bossDiv{
  box-sizing: border-box;
  border: 1px solid red;
  width: 200px;;
  height: 74.33px;
}
.btnDiv{
  display:flex;
  flex-direction: column;
}
.boxDropGrid{
  display:flex;
  flex-direction: column;
  border:1px solid white;
}
.box{
  margin: 1px;
  box-sizing: content-box;
  display:flex;
  justify-content: center;
  align-items: center;
  /*background-color:#c2c0bd;*/
  border-bottom: 5px solid #8b8b8b;
  border-right: 5px solid #555555;

  /*box-shadow:
    inset 0 0 0 4px #eee,
    inset 0 0 0 8px #ddd,
    inset 0 0 0 12px #ccc,
    inset 0 0 0 16px #bbb,
    inset 0 0 0 20px #aaa,
    inset 0 0 0 20px #999,
    inset 0 0 0 20px #888;*/
}
.dot{
  display:flex;
  justify-content:center;
  align-items:center;
  /*border-radius: 50%;*/
  /*border:1px solid black;*/
  box-sizing: content-box;
}

#shipOne{
  background: url(sprites/ships.png) 0px 0px;
}
#shipTwo{
  background: url(sprites/ships.png) 100px 0px;
}
#shipThree{
  background: url(sprites/ships.png) 200px 0px;
}
#scoreOne{
  color: red;
}
#scoreTwo{
  color: blue;
}
#scoreThree{
  color: yellow;
}
.redShot{
  margin: 1px;
  border: 4px dotted rgb(255, 61, 0);
  background-color: rgb(110, 15, 15);
  height: 20px;
  width: 20px;
  border-radius: 50%
}
.blueShot{
  border: 4px solid rgb(11, 63, 163);
  background-color: rgb(22, 180, 180);
  height: 10px;
  width: 30px;
  border-radius: 50%
}
#shotThree{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
}
.yellowShot{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid rgb(255, 253, 14);
  background-color: rgb(172, 180, 22);
  height: 10px;
  width: 30px;
  border-radius: 50%
}
.yellowShotDiv{
  border: 1px; solid red;
  height: 60px;
  width: 32px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}


.challengeDiv{
  display:flex;
  flex-wrap:wrap;
  /*justify-content: space-between;*/
  border: 1px solid blue;
  color:white;
  text-align: center;

  height: 70px;
  width: 70px;
}
.tempDiv{
  height:68px;
  width:30px;
  border:1px solid white;
}
.tempDiv2{
  width:30px;
  height:68px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}
.challengeP{
  margin: 5px;
  width: 25px;
}
#redShot, #blueShot, #yellowShot{
  display:flex;
  justify-content: flex-end;
}
